.logs
.DS_Store
*.iml
*.log
.settings
.classpath
.project
.idea
.externalToolBuilders
.metadata
.hibernateSynchronizer3
.myeclipse
.mymetadata
.factorypath
.gradle
target
build
node_modules
*.ipr
*.iws
*.class
